*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* navbar */ 
.navbar{ 
    height:60px; 
    width:100%;
}

.navbar img{
    height: 35px;
}

/* carrusel*/   
.carousel-inner {
    position: fixed top;
}

/* card-Titulo */
#viajes .card-titulo {
    font-size: 20px;
}

/* card-texto */
#viajes .card-titulo .card-texto {
    font-size: 12px;
}

/* formulario contacto*/
#contacto{
    padding-top: 80px;
}

form {
    padding-left: 50px;
    padding-right: 50px;
}

footer{
    padding-top:50px;
    
}